/* 
MY PORTFOLIO
Author: Dev Master
Description: First Proyect - 8 Edition
Version: 1.0
*/

/**************************
Fonts
**************************/
/* roboto-slab-300 - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url('../font/roboto-slab/roboto-slab-v10-latin-300.eot'); /* IE9 Compat Modes */
    src: url('../font/roboto-slab/roboto-slab-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-slab/roboto-slab-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-slab/roboto-slab-v10-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-slab/roboto-slab-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-slab/roboto-slab-v10-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  /* roboto-slab-regular - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../font/roboto-slab/roboto-slab-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../font/roboto-slab/roboto-slab-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-slab/roboto-slab-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-slab/roboto-slab-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-slab/roboto-slab-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-slab/roboto-slab-v10-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  /* roboto-slab-700 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../font/roboto-slab/roboto-slab-v10-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../font/roboto-slab/roboto-slab-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/roboto-slab/roboto-slab-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../font/roboto-slab/roboto-slab-v10-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../font/roboto-slab/roboto-slab-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/roboto-slab/roboto-slab-v10-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }

/**************************
Typography
**************************/
html { /* es igual a :root (pseudo-clase) */
    font-size: 18px;
}
body {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 23px; /* line-height?*/
}
h1 {
    font-size: 67px;
    line-height: 89px;
}
h2 {
    font-size: 50px;
    line-height: 67px;
}
h3 {
    font-size: 37px;
    line-height: 50px;
}
h4 {
    font-size: 28px;
    line-height: 37px;
}
h5 {
    font-size: 21px;
    line-height: 28px;
}
h6 {
    font-size: 16px;
    line-height: 21px;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  padding-top: 0;
  margin-top: 0; 
}
p {
    line-height: 23px;
    margin-bottom: 23px;
}
a {
    text-decoration: none;
    color: #000;
}

/**************************
General
**************************/
:root { /* es igual a <html> */
    --primary-color: #FD7878;
    --secondary-color: #CBCBCB;
    /* --tertiary-color: ;
    --quaternary-color: ;
    --quinary-color: ; */

    --color-white: #FFF;
    --color-black: #000;

    --primary-background: #cbcbcb;

    /* --primary-shadow: 0 1px 5px 0 rgba(0,0,0,0.10); */
}
*,
*:after,
*::after,
*:before,
*::before {
box-sizing: border-box;
}
img {
    max-width: 100%; /* imagenes fluidas RWD */
    height: auto;
}
figure {
    margin: 0; /* le quitamos el margin por defecto de esta etiqueta */
}
ul,
ol {
    list-style-type: none;

    padding: 0;
    margin: 20px 0 35px 0;
}
li {
    line-height: 21px;
    margin-bottom: 14px;
}
.main-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.padding-big {
    padding-top: 60px;
    padding-bottom: 50px;
}
/* bottom */
.btn {
    display: inline-block;
    min-width: 180px;
    height: 44px;
    border-radius: 5px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--primary-color);
}
/* title */
.title {
    text-align: center;
}
.title h2{
    margin-bottom: 57px;
}

/**************************
Style
**************************/
/* social-network */
.social-network {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.social-network ul {
    margin: 0;
}
.social-network li {
    margin-bottom: 1px;
}
.social-network a {
    background-color: #232E3E;
    color: #FFF;
    font-size: 22px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: transform .2s ease .2s;
}
.social-network a:hover {
    transform: scale(1.4);
}
/* to-the-top */
.to-the-top {
    background-color: var(--primary-color);
    width: 70px;
    height: 70px;
    border: 2px solid #CBCBCB;

    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;

    line-height: 70px;
    text-align: center;
    border-radius: 50%;

    font-size: 28px;

    filter: opacity(0);
    transition: filter .7s ease 0s;
}
.to-the-top.visibility-top {
    filter: opacity(1);
}
/* header-banner */
.main-hero-banner {
    background-image: url("../img/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.hero-banner {
    height: 640px;
    display: flex;
    align-items: center;
}
.hero-banner .description {
    color: var(--color-white);
}
.hero-banner .description h1 {
    padding-bottom: 13px;
    margin-bottom: 0;
    position: relative;
}
.hero-banner .description h1:after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 5px;
    background-color: var(--primary-color);

    position: absolute;
    bottom: 0;
    left: 0;
}
.hero-banner .description h5 {
    margin-top: 20px;
}
.hero-banner .description span {
    color: var(--primary-color);
}

/* about-me */
.about-me {
    display: flex;
    flex-wrap: wrap;
}
.about-me .left {
    max-width: 580px;
    width: 49.1525423729%;
    padding-left: 60px;
    margin-right: 1.6949152542%; /* 20px */
}
.about-me .right {
    max-width: 580px;
    width: 49.1525423729%;
    padding-left: 40px;
}
.about-me h3 {
    margin-bottom: 20px;
}
.about-me .right strong {
    display: inline-block;
    min-width: 58px;
    margin-right: 17px;
}
.about-me .right span {
    display: inline-block;
    margin-right: 7px;
    color: var(--primary-color);
}
.about-me .right p {
    font-weight: 300;
    max-width: 480px;
}

/* services */
.services {
    display: flex;
    flex-wrap: wrap;
}
.services-item {
    max-width: 380px;
    width: 32.2033898305%; /* 380 */
    border-radius: 5px;
    overflow: hidden;
}
.services-item:not(:last-child) {
    margin-right: 1.6949152542%; /* 20px */
}
.services-item .header {
    position: relative;
}
.services-item img {
    display: block;
}
.services-item figure:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.services-item .header h5 {
    margin: 0;
    color: var(--color-white);
    font-weight: 400;
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 15px 27px;
}
.services-item .footer a {
    display: block;
    width: 100%;
    padding: 15px 27px;

    transition: background-color .2s ease 0s;
}
.services-item .footer a:hover {
    color: #FFF;
    background-color: #232E3E;
}

/* expertises */
.expertises {
    display: flex;
    flex-wrap: wrap;
}
.expertises .left {
    max-width: 580px;
    width: 49.1525423729%;
    margin-right: 1.6949152542%;
}
.expertises .right {
    max-width: 580px;
    width: 49.1525423729%;
}
.expertises h3 {
    margin-bottom: 30px;
}
.expertises-item {
    padding: 26px;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.expertises-item:not(:last-child) {
    margin-bottom: 38px;
}
.expertises-item h5 {
    margin-bottom: 7px;
}
.expertises-item strong {
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    padding: 4px 8px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.expertises-item p {
    margin-top: 20px;
    margin-bottom: 0;
}

/* maps */
.main-maps {
    height: 567px;
}

/* contact */
input {
    width: 100%;
    height: 56px;
    border: 1px solid var(--primary-color);
    padding: 12px 20px;
    margin-bottom: 32px;
    border-radius: 5px;
}
textarea {
    width: 100%;
    height: 175px;
    border: 1px solid var(--primary-color);
    padding: 16px 20px;
    margin-bottom: 56px;
    border-radius: 5px;
    resize: none; /* ⚠️ deshabilita el comportamiento de cambio de tamaño para los elementos del área de texto */
}
button.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form {
   display: flex;
   flex-wrap: wrap;
}
form input:nth-child(1){
    max-width: 580px;
    width: 49.1525423729%;
    margin-right: 1.6949152542%; /* 15px */
}
form input:nth-child(2){
    max-width: 580px;
    width: 49.1525423729%;
    /* font-size: ; */
    /* font-size: 0; */
    /* margin-left: -0.4237288136%; -5px */
}
form button {
    border: none;
}
form button:focus {
    outline: none;
}

/* footer */
.main-footer {
    padding: 54px;
    background-color: var(--secondary-color);
}
.footer-link ul {
    margin: 0;
    display: flex;
    justify-content: center;
}
.footer-link li {
    margin-bottom: 17px;
}
.footer-link li:not(:last-child) {
    margin-right: 30px;
}
.footer-link a {
    font-size: 25px;
}
.footer p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}